doctype html

//- This template shows the sign up button or the logout button depending on whether
//- a user is logged in.

html
    body
        if (typeof(user) === 'undefined')
            a(href="user", style="position: absolute; right: 15%;") Sign Up or Log In
        else
            a(href="user/logout", style="position: absolute; right: 15%;") Logout #{user}