doctype html

html
  head
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="javascripts/editor.js")
    script(src="javascripts/sidebar.js")
    script(defer, src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js", integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l", crossorigin="anonymous")
    script(defer, src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js", integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c", crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="javascripts/vendor/jquery.slidereveal.min.js")
    script(src="javascripts/vendor/script.js")
    link(href='stylesheets/style.css', rel='stylesheet')
    link(href='stylesheets/vendor/styles.css', rel='stylesheet')

  body.
    <div id="header">
      <a href=".."><img id="logo" src='img/rbicon.png'/></a>
      <span class="toolgroup">
        <span class="tooltip">
          <span id="add_blank" class="header_btn">
            <i class="fas fa-2x fa-plus"></i>
          </span>
          <span class="tooltipmsg">Blank Class</span>
        </span>

        <span id="class_dropdown" class="header_btn">
          <i class="fas fa-2x fa-angle-down"></i>
        </span>
        <!-- Dropdown for choosing an existing class -->
        <div id="existing_class">
          <b>Existing Classes</b>
          <hr/>
          <input type="radio" name="existing_class_row" value="horizontal" checked> This row <br/>
          <input type="radio" name="existing_class_row" value="vertical"> Bottom <br/>
          <hr/>
          Choose Class to Add
          <ul id="classes_listing">
            <li>No Class</li>
          </ul>
        </div>
      </span>
      <span class="tooltip">
        <span id="delete" class="header_btn" name="delete">
          <i class="fas fa-2x fa-trash"></i>
        </span>
        <span class="tooltipmsg">Delete</span>
      </span>

      <span class="tooltip">
        <span id="bullets" class="header_btn">
          <button id="bullet"><b><i class="fas fa-2x fa-dot-circle"></i></b></button>
        </span>
        <span class="tooltipmsg">Bullets</span>
      </span>

      <span class="tooltip">
        <span id="add_line_vertical" class="header_btn" name="addlv">
          <i class="fas fa-2x fa-minus"></i> V
        </span>
        <span class="tooltipmsg">Line</span>
      </span>

      <span class="tooltip">
        <span id="add_line_horizontal" class="header_btn" name="addlh">
          <i class="fas fa-2x fa-minus"></i> H
        </span>
        <span class="tooltipmsg">Line</span>
      </span>

      <span class="tooltip">
        <span id="symbols" class="header_btn">
          <i class="fas fa-2x fa-dollar-sign"></i>
        </span>
        <span class="tooltipmsg">Symbols</span>
      </span>

    </div>

    <div id='slider'>
      <button id='trigger'><i class="fas fa-bars"></i></button>
      <!-- http://cssmenumaker.com/menu/slabbed-accordion-menu -->
      <div id='cssmenu'>
        <ul>
          <li class='active has-sub'><a href='#'><span>Text</span></a>
              <ul><li class='content'><span><button id="bold"><b><i class="fas fa-bold"></i></b></button><button id="italic"><b><i class="fas fa-italic"></i></b></button><button id="underline"><b><i class="fas fa-underline"></i></b></button></span></li></ul>
          </li>
          <li class='active has-sub'><a href='#'><span>Size</span></a>
              <ul><li class='content'><span>Content</span></li></ul>
          </li>
          <li class='active has-sub'><a href='#'><span>Font</span></a>
              <ul><li class='content'><span>Content</span></li></ul>
          </li>
          <li class='active has-sub'><a href='#'><span>Color</span></a>
              <ul><li class='content'><span>Content</span></li></ul>
          </li>
          <li class='active has-sub'><a href='#'><span>Alignment</span></a>
              <ul><li class='content'><span>
                <button class='align' id='align-l' disabled><i class="fas fa-align-left"></i></button>
                <button class='align' id='align-c'><i class="fas fa-align-center"></i></button>
                <button class='align' id='align-r'><i class="fas fa-align-right"></i></button>
                <button class='align' id='align-j'><i class="fas fa-align-justify"></i></button>
              </span></li></ul>
          </li>
        </ul>
        </div>
    </div>

    <!-- Pop-up for adding a new blank class -->
    <div id="newclass">
      <h1>New Class!</h1>
      Class name: <input type='text' id="newclass_name"></input><br/><br/>
      <input type="radio" name="newclass_row" value="horizontal" checked> This row 
      <input type="radio" name="newclass_row" value="vertical"> Bottom <br/><br/>
      <button id="newclass_close">Close</button>
      <button id="newclass_create">Create</button>
    </div>
    <div id="page"></div>