doctype html

html
  head
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="javascripts/editor.js")
    script(defer, src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js", integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l", crossorigin="anonymous")
    script(defer, src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js", integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c", crossorigin="anonymous")
    link(href='stylesheets/style.css', rel='stylesheet')

  body.
    <div id="header">
      <a href=".."><img id="logo" src='img/rbicon.png'/></a>
      <span id="add_vertical" class="header_btn" name="addv">
        <i class="fas fa-2x fa-plus"></i> V
      </span>

      <span id="add_horizontal" class="header_btn" name="addh">
        <i class="fas fa-2x fa-plus"></i> H
      </span>

      <span id="class_dropdown" class="header_btn">
        <i class="fas fa-2x fa-angle-down"></i>
      </span>

      <span id="delete" class="header_btn" name="delete">
        <i class="fas fa-2x fa-trash"></i>
      </span>

      <span id="bullets" class="header_btn"><i class="fas fa-2x fa-dot-circle"></i></span>
      <span id="lines" class="header_btn"><i class="fas fa-2x fa-minus"></i></span>
      <span id="symbols" class="header_btn"><i class="fas fa-2x fa-dollar-sign"></i></span>
    </div>

    <div id="page"></div>