doctype html
html.
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js">
    <script src="javascripts/editor.js">
  </head>
  <body>
    <h1> Résumé Bae Editor </h1>
  <input id="add" name="add" type="button">
    ADD
  </input>

  <input id="delete" name="delete" type="button">
    DELETE
  </input>

  <div id="page">
  </div>

  </body>