doctype html

html
  head
    if (typeof(user) !== 'undefined')
      script var saved = !{resume};
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="javascripts/editor.js")
    script(src="javascripts/jscolor.min.js")
    script(src="javascripts/sidebar.js")
    script(defer, src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js", integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l", crossorigin="anonymous")
    script(defer, src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js", integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c", crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="javascripts/vendor/jquery.slidereveal.min.js")
    script(src="javascripts/vendor/script.js")
    link(href='stylesheets/style.css', rel='stylesheet')
    link(href='stylesheets/vendor/styles.css', rel='stylesheet')

  body
    div(id="header")
      a(href="..").
        <img id="logo" src='img/rbicon.png'/>
      span(class="toolgroup").
        <span class="tooltip">
          <span id="add_blank" class="header_btn">
            <i class="fas fa-2x fa-plus"></i>
          </span>
          <span class="tooltipmsg">Blank Class</span>
        </span>
        <span id="class_dropdown" class="header_btn">
          <i class="fas fa-2x fa-angle-down"></i>
        </span>
        <!-- Dropdown for choosing an existing class -->
        <div id="existing_class">
          <b>Existing Classes</b>
          <hr/>
          <input type="radio" name="existing_class_row" value="horizontal" checked> This row <br/>
          <input type="radio" name="existing_class_row" value="vertical"> Next row <br/>
          <hr/>
          Choose Class to Add
          <ul id="classes_listing">
            <li>No Class</li>
          </ul>
        </div>
      span(class="tooltip").
        <span id="delete" class="header_btn" name="delete">
          <i class="fas fa-2x fa-trash-alt"></i>
        </span>
        <span class="tooltipmsg">Delete <br> Block</span>



      span(class="tooltip").
        <span id="add_line_horizontal" class="header_btn" name="addlh">
          <i class="fas fa-2x fa-minus"></i>
        </span>
        <span class="tooltipmsg">Horizontal <br>Line Tool</span>

      if (typeof(user) !== 'undefined')
        span(class="tooltip").
          <span id="save_resume" class="header_btn" name="save">
            <i class="fas fa-2x fa-save"></i>
          </span>
          <span class="tooltipmsg">Save to <br>Account</span>

      include account.jade

    div(id='slider').
      <button id='trigger'><i class="fas fa-bars"></i></button>
      <!-- http://cssmenumaker.com/menu/slabbed-accordion-menu -->
      <div id='cssmenu'>
        <ul>
          <li class='active has-sub'><a href='#'><span>Text</span></a>
              <ul><li class='content'><span><button id="bold"><b><i class="fas fa-bold"></i></b></button><button id="italic"><b><i class="fas fa-italic"></i></b></button><button id="underline"><b><i class="fas fa-underline"></i></b></button><button id="strikethrough"><b><i class="fas fa-strikethrough"></i></b></button><br><button id="bullet"><b><i class="fas fa-list-ul"></i></b></button><button id="number"><b><i class="fas fa-list-ol"></i></b></button><br><button id="undo"><b><i class="fas fa-undo"></i></b></button><button id="redo"><b><i class="fas fa-redo"></i></b></button></span></li></ul>
          </li>
          <li class='active has-sub'><a href='#'><span>Size</span></a>
              <ul><li class='content'><span>Input (1-7)<br>3 is default size<input type='number' id='size' value='3'></input><button id="sizeb"><b><i class="fas fa-arrow-down"></i></b></button><br>1. Pick size<br>2. Highlight text or select block<br>3. Hit button</span></li></ul>
          </li>
          <li class='active has-sub'><a href='#'><span>Font</span></a>
              <ul><li class='content'><span>
              <select onchange="fontEditor(this[this.selectedIndex].value)" id="font">
              <option value="Arial">Arial</option>
              <option value="Bookman Old Style">Bookman Old Style</option>
              <option value="Calibri">Calibri</option>
              <option value="Century Gothic">Century Gothic</option>
              <option value="Comic Sans MS">Comic Sans MS</option>
              <option value="Courier">Courier</option>
              <option value="Impact">Impact</option>
              <option value="Monotype Corsiva">Monotype Corsiva</option>
              <option value="Times New Roman">Times New Roman</option>
              </select></span></li></ul>
          </li>
          <li class='active has-sub'><a href='#'><span>Color</span></a>
              <ul><li class='content'><span>Color: <input class="jscolor" value="000000" id="color"><button id="colorb"><b><i class="fas fa-arrow-down"></i></b></button><br>1. Pick color<br>2. Highlight text or select block<br>3. Hit button</span></li></ul>
          </li>
          <li class='active has-sub'><a href='#'><span>Alignment</span></a>
              <ul><li class='content'><span>
                <button id="alignl"><b><i class="fas fa-align-left"></i></b></button>
                <button id="alignc"><b><i class="fas fa-align-center"></i></b></button>
                <button id="alignr"><b><i class="fas fa-align-right"></i></b></button>
                <button id="alignf"><b><i class="fas fa-align-justify"></i></b></button>
              </span></li></ul>
          </li>
        </ul>
        </div>

    <!-- Pop-up for adding a new blank class -->
    div(id="newclass").
      <h1>New Class!</h1>
      Class name: <input type='text' id="newclass_name"></input><br/><br/>
      <input type="radio" name="newclass_row" value="horizontal" checked> This row 
      <input type="radio" name="newclass_row" value="vertical"> Bottom <br/><br/>
      <button id="newclass_close">Close</button>
      <button id="newclass_create">Create</button>
    
    div(id="page")