doctype html

//- Page for user login or account creation

html
  head  
    link(href='/stylesheets/user.css', rel='stylesheet')

  body.
    <div id="header">
      <a href="/"><img id="logo" src='/img/rbicon.png'/></a>
    </div>
    <div class="background">
      <p id="error-msg">!{errmsg}</p>
      <div id="login-left">
        <h1>Sign Up</h1>
        <form action="/user/create" method="post">
          <input type="text" name="username" placeholder="Username"><br/>
          <input type="password" name="password" placeholder="Password"><br/>
          <input type="password" name="passwordConf" placeholder="Confirm Password"><br/>
          <button type="submit">Create Account</button>
        </form>
      </div>
      <div id="vbar"></div>
      <div id="login-right">
        <h1>Log In</h1>
        <form action="/user/login" method="post">
          <input type="text" name="existing_username" placeholder="Username"><br/>
          <input type="password" name="existing_password" placeholder="Password"><br/>
          <button type="submit">Log In</button>
        </form>
      </div>
    </div>