body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  background: navy;
  padding: 0;
  margin: 0;
}

#header {
  background: white;
  padding: 5px;
  margin-bottom: 50px;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  border-bottom: 5px solid navy;
  top: 0;
}

.header_btn {
  cursor: pointer;
  background: none;
  border: none;
  margin: 0 10px 0 10px;
  z-index: -1;
}

#logo {
  height: 30px;
  margin: 0px 20px 0px 20px;
}

#page {
  width: 6.5in;
  height: 9in;
  background: white;
  margin: 55px auto 50px;
  padding: 1in;
  line-height: 0px;
}

.block {
  margin: auto;
  /*border: none;*/
  outline: none;
  font-size: 12pt;
  cursor: auto;
  line-height: 12pt;
  display: inline-block;
  overflow: scroll;
  padding: 0 2px 0 2px;
}

.line {
  margin: auto;
  outline: none; /* can be resized if necessary*/
  font-size: 12pt;
  resize: none;
}

.blockwrapper {
  background: white;
  cursor: move;
  display: inline-block;
  border: 2px dotted lightblue;
  padding: 5px;
}

.current {
  border: 2px solid blue;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltipmsg {
  visibility: hidden;
  position: absolute;
  z-index: 999;
  padding: 5px;
  color: black;
  background: lightgray;
  opacity: 0;
  width: 0;
  transition: opacity 0.25s, width 0.1s;
  border-radius: 5px;
  top: 150%;
  left: -10%;
  text-align: center;
}

.tooltip:hover .tooltipmsg {
  visibility: visible;
  opacity: .75;
  width: 4em;
  transition: opacity 0.5s, width 0.15s;
}

.tooltip:hover {
  border-radius: 5px;
  background: gray;
  background: linear-gradient(white, gray);
}

.toolgroup {
  position: relative;
  padding: 6px;
  margin-right: 10px;
  background: gray;
  background: linear-gradient(white, gray);
}

#newclass {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 40%;
  left: 30%;
  top: 10%;
  background: white;
  border-radius: 15px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 1px 20px 0 rgba(0, 0, 0, 0.25);
}

#existing_class {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 75%;
  left: 50px;
  width: 200px;
  text-align: center;
  background: white;
  border-radius: 0 0 2px 2px;
  text-align: left;
  padding: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 1px 20px 0 rgba(0, 0, 0, 0.25);
}

#classes_listing {
  list-style-type: none;
}

#classes_listing > li:hover {
  background: lightgray;
  cursor: pointer;
}

#classes_listing > li:before {
  content: "+";
  margin-right: 10px;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

#slider {
  background: lightgray;
  z-index: 99;
}

#trigger {
  color: white;
  background: darkgray;
  left: 200px;
  padding: 20px 10px 20px 10px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  border: none;
}

#trigger:focus {
  outline: 0px solid transparent;
}

.content {
  color: black;
  padding: 10px;
  background: white;
  text-align: center;
}

