#header {
    background: white;
    padding: 5px;
    margin-bottom: 50px;
    position: fixed;
    width: 100vw;
    z-index: 1000;
    top: 0;
}

#logo {
    height: 30px;
    margin: 0px 20px 0px 20px;
}

.background{
    padding: 30px;
}

body {
	margin: auto;
	background-image: linear-gradient(lightgray 10%, white);
	background-size: cover;
    background-repeat: no-repeat;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#login-right {
    float: right;
    margin-top: 100px;
    margin-right: 25%;
    text-align: center;
}

#login-left {
    float: left;
    margin-top: 100px;
    margin-left: 25%;
    text-align: center;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin: 5px;
}

button {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: lightskyblue;
    font-size: 12pt;
    color: white;
}
button:hover {
    background: lightblue;
    cursor: pointer;
}

#vbar {
    border-left: 1px solid black;
    width: 1px;
    height: 50vh;
    margin-top: 100px;
    position: absolute;
    left: 50vw;
}

#error-msg {
    color: red;
    text-align: center;
    margin-top: 50px;
}